header { 
	nav {
		@extend .center-block;
		ul {
			@extend .nav, .nav-pills;
		}
	}

	nav {
		display: inline-block;
		background: rgba(50,50,50,0.7);
		&>ul>li>a {
			border-radius: 0;
		}
		&>ul>li>a:hover {
			background-color: rgba(50,50,50,0.95);
			color: white;
		}
	}
}