<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="container">
        <div class="main-area">
        <div class="column content">
            <p>This is the Content.</p>
        </div>
        <div class="column sidebar">
            <p>This is the Sidebar.</p>
        </div>
        <div class="column side-nav">
            <p>This is the Navigation.</p>
        </div>
    </div>
</div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>


